.card {
  margin: 0 auto;
  width: 310px;
  border: 1px solid #d8d8d8;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 10px 10px 5px #d8d8d8;
  background-image: linear-gradient(#f3f1ef 50%, #7bb362);
  background-color: #f3f1ef;
}

img {
  width: 300px;
  margin: 5px;
}

/* Info-Section Styling */
.info-section {
  border: 1px solid #d8d8d8;
  padding: 10px;
  margin: 5px;
}

/* Text Styling */
.card-title {
  padding: 0 0 0 5px;
  margin: 10px 0 15px;
}

p.fun-fact {
  font-style: italic;
}

/* List Styling */
ul {
  list-style: none;
  padding: 0;
}

.label {
  font-weight: bold;
}
